.btnContainer {
  width: 90%;
}

.btn {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(52, 204, 255, 0.4),
    -1px -1px 2px rgba(245, 245, 245, 0.9);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  height: 70px;
  width: 70px;
  margin: 4px;
}

.btn:hover {
  background-color: rgba(52, 204, 255, 0.4);
  box-shadow: 1px 1px 2px rgba(52, 204, 255, 0.4),
    -1px -1px 2px rgba(245, 245, 245, 0.9);
}

.btn:active {
  background-color: rgba(52, 204, 255, 0.6);
  box-shadow: inset 1px 1px 2px rgba(52, 204, 255, 0.4),
    inset -1px -1px 2px rgba(245, 245, 245, 0.9);
}
.btn:focus {
  outline: none;
}

.btn:nth-child(1) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(1):hover {
  background-color: #f57f17;
}

.btn:nth-child(1):active {
  background-color: #fbc02d;
}
.btn:nth-child(1):focus {
  outline: none;
}

.btn:nth-child(2) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(2):hover {
  background-color: #f57f17;
}
.btn:nth-child(2):active {
  background-color: #fbc02d;
}
.btn:nth-child(2):focus {
  outline: none;
}
.btn:nth-child(3) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(3):hover {
  background-color: #f57f17;
}
.btn:nth-child(3):active {
  background-color: #fbc02d;
}
.btn:nth-child(3):focus {
  outline: none;
}
.btn:nth-child(4) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(4):hover {
  background-color: #f57f17;
}
.btn:nth-child(4):active {
  background-color: #fbc02d;
}
.btn:nth-child(4):focus {
  outline: none;
}
.btn:nth-child(8) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(8):hover {
  background-color: #f57f17;
}
.btn:nth-child(8):active {
  background-color: #fbc02d;
}
.btn:nth-child(8):focus {
  outline: none;
}
.btn:nth-child(12) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(12):hover {
  background-color: #f57f17;
}
.btn:nth-child(12):active {
  background-color: #fbc02d;
}
.btn:nth-child(12):focus {
  outline: none;
}
.btn:nth-child(16) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(16):hover {
  background-color: #f57f17;
}
.btn:nth-child(16):active {
  background-color: #fbc02d;
}
.btn:nth-child(16):focus {
  outline: none;
}
.btn:nth-child(19) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(19):hover {
  background-color: #f57f17;
}
.btn:nth-child(19):active {
  background-color: #fbc02d;
}
.btn:nth-child(19):focus {
  outline: none;
}
.btn:nth-child(20) {
  background-color: #f9a825;
  color: white;
}
.btn:nth-child(20):hover {
  background-color: #f57f17;
}
.btn:nth-child(20):active {
  background-color: #fbc02d;
}
.btn:nth-child(20):focus {
  outline: none;
}
