.appName {
  font-size: 4rem;
  text-align: center;
  margin: 20px 0;
}
.appName span {
  transition: color 0.3s ease;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional for Firefox */
  background-clip: text;
  color: transparent;
}
