* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.app-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.main-content {
  width: 100%;
}

.header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
}

.main {
  padding: 20px;
  height: 85vh;
  overflow: auto;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

.post {
  margin-bottom: 20px;
}

.kgBage {
  z-index: 5;
  right: -24%;
  top: 4%;
}
